/* -----------------header  end------------------- */
.maincol {
  margin-left: 9.3%;
  width: 80.5%;
}
.homepage {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.mainpage {
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
  border-left: 1px solid rgb(235, 238, 240);
  display: flex;
  height: 50px;
}

.tweetbar {
  margin-top: 0.5%;
  height: 178px;
}
.homepageicon {
  margin-left: auto;
}
#comment {
  border: none;
}
.interesting {
  display: flex;
}
.interestingimg {
  margin-left: 1%;
  margin-top: 3%;
}
.tweetdiv {
  width: 86%;
}
.tweetabout {
  margin-left: -4%;
  display: flex;
}
.tweety {
  background: rgb(29, 161, 242);
  border: none;
  border-radius: 20px;
  color: white;
  width: 88px;
  height: 39px;
  margin-left: 39.8%;
  margin-top: 1%;
}
.tweetaboutdiv {
  margin-right: 22px;
  display: flex;
}
.tweetimage {
  max-width: 100%;
  border-radius: 20px;
}
.tweets {
  border: grey;
}

.first-tweet {
  display: flex;
  padding: 0.5rem 1rem;
}

.tweetdetails {
  padding-left: 14px;
}
.username {
  font-size: 15px;
  font-weight: 700;
}
.userm {
  font-weight: 100;
}
.article {
  font-size: 15px;
}
.thumbnail {
  text-align: center;
  /* border: 1px solid rgb(235, 238, 240);
  border-radius: 20px; */

  height: 282px;
}

.inputdiv {
  border: 1px solid rgb(235, 238, 240);
  height: 130px;
}
.form-control-placeholder {
  font-size: 16px;
}
.brace {
  background: rgb(247, 249, 250);
  height: 10px;

  border-top: 1px solid rgb(235, 238, 240);
}

.tweet {
  display: block;
  border: 1px solid rgb(235, 238, 240);
}
.tweetprofileimg {
  margin-left: 50%;
  margin-top: 50%;
}
.tweetbtn {
  margin-left: 100px;
}
.abouttweetbtn {
  font-size: 12px;
  margin-top: 4px;
  color: grey;
  margin-left: 9px;
}
.form-control {
  border-radius: 30px;
}
.form-inline {
  display: flex;
}
.news {
  font-size: 13px;
}
.rightdiv {
  width: 114%;
  margin-left: -23%;
}
.daily {
  background: rgb(247, 249, 250);
  margin-top: 14px;
  border-radius: 20px;
}
.interesting {
  border-bottom: 1px solid rgb(235, 238, 240);
}
.interestingtext {
  font-weight: 1000;
  font-size: 21px;
  line-height: 120%;
  width: 80%;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 13px;
}
.daily-news {
  border-bottom: 1px solid rgb(235, 238, 240);
  display: flex;
  line-height: 2;
}
.tweetmore {
  margin-left: 28%;
}
.searchbar {
  display: flex;
  border: 1px solid grey;
  border-radius: 40px;
  background-color: rgb(235, 238, 240);
  border-color: rgba(0, 0, 0, 0);
  height: 49px;
  margin-top: 2px;
}
#searchinput {
  border: none;
  background-color: rgb(235, 238, 240);
}

.where {
  margin-left: 20px;
}
.what {
  margin-left: 20px;
  font-size: 15px;
}
.howmany {
  margin-left: 20px;
}
.followwho {
  margin-left: 20px;
}
#like {
  fill: grey;
}
#like:hover {
  fill: rgba(224, 36, 94);
}
/* .button-container {
  display: flex;
  justify-content: flex-end;
}
.btn-group-vertical {
  color: black;
  text-align: left;
} */
/* .btn.btn-lg {
  text-align: left;
  padding: 10px;
  align-items: center;
} */
/* .tweetSpan {
  background: rgb(29, 161, 242);
  border-radius: 100px;
  width: 226px;
  height: 48px;
  text-align: center;
  margin-left: -13px;
  margin-top: -8px;
} */
/* .tweetespantext {
  color: white;
  margin-left: 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
} */
