.container {
  padding: 10px 20px;
  font-size: 20px;
}
.navdiv {
  margin-left: 45 px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
.btn-group-vertical {
  color: black;
  text-align: left;
}
.btn.btn-lg {
  text-align: left;
  padding: 10px;
  align-items: center;
}
.nav-img-text {
  display: flex;
}
.nav-text {
  margin-left: 20px;
  color: black;
  font-weight: 700;
}
.navbar-nav {
  line-height: 2;
}
.tweetSpan {
  background: rgb(29, 161, 242);
  border-radius: 100px;
  width: 201px;
}
.tweetspantext {
  color: white;

  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
}
.tweeteSpan {
  margin-left: auto;
  background: rgb(29, 161, 242);
  border-radius: 100px;
  width: 100px;
  height: 37px;
}
.tweetespantext {
  color: white;
  margin-left: 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
}
.homepage {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 900;
}
.tweetimage {
  max-width: 100%;
  height: 250px;
}
.tweets {
  border: grey;
}

.first-tweet {
  display: flex;
  padding: 0.5rem 1rem;
}

.tweetdetails {
  padding-left: 14px;
}
.username {
  font-size: 15px;
  font-weight: 700;
}
.article {
  font-size: 15px;
}
.thumbnail {
  text-align: center;
  border: 1px solid rgb(235, 238, 240);
  border-radius: 20px;
}
.inputdiv {
  border: 1px solid rgb(235, 238, 240);
}
.brace {
  border-top-style: solid;
  background: rgb(235, 238, 240);
  height: 12px;
  border-top-color: rgb(235, 238, 240);
}

.tweet {
  display: block;
  border: 1px solid rgb(235, 238, 240);
}
.tweetbtn {
  margin-left: 100px;
}
.abouttweetbtn {
  font-size: 15px;
  margin-top: 8px;
}
.form-control {
  border-radius: 30px;
}
.form-inline {
  display: flex;
}
.news {
  font-size: 13px;
}
.daily-news {
  display: flex;
  background: rgb(235, 238, 240);
  border: 1px solid rgb(212, 215, 218);
  line-height: 2;
}
.tweetmore {
  margin-left: auto;
}
