.container {
}
.navbarr {
  margin-left: 39px;
  margin-top: 12px;
}
.navlink {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 234.2px;
  margin-left: 37px;
  margin-top: 29px;
}
.navlink:hover {
  background: rgb(161, 208, 236);
  border-radius: 20px;
  color: #1da1f2;
}
.nav-img-text {
  display: flex;
  margin-left: 5px;
}

.nav-text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
.btn-group-vertical {
  color: black;
  text-align: left;
}
.btn.btn-lg {
  text-align: left;
  padding: 10px;
  align-items: center;
}

.tweetSpan {
  background: rgb(29, 161, 242);
  border-radius: 100px;
  width: 226px;
  height: 48px;
  text-align: center;
  margin-left: -13px;
  margin-top: -8px;
}
.navlinkt {
  margin-top: 22px;
  margin-left: 27px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background: rgb(29, 161, 242);
  border-radius: 100px;
  justify-content: center;
  height: 47px;
  width: 227px;
  border: none;
}

.tweetespantext {
  color: white;
  margin-left: 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
}

.btn.btn-xlg {
  margin-top: 110px;
  margin-left: 25px;
  display: flex;
}
.btn.btn-xlg :hover {
  background: rgb(177, 195, 196);
}
.user {
  margin-left: 15px;
  margin-top: -10px;
}
.more {
  margin-left: 100px;
  margin-top: 6px;
}

.homepage {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 900;
}
.tweetimage {
  max-width: 100%;
  height: 250px;
}
.tweets {
  border: grey;
}

.first-tweet {
  display: flex;
  padding: 0.5rem 1rem;
}

.tweetdetails {
  padding-left: 14px;
}
.username {
  font-size: 15px;
  font-weight: 700;
}
.article {
  font-size: 15px;
}
.thumbnail {
  text-align: center;
  border: 1px solid rgb(235, 238, 240);
  border-radius: 20px;
}
.inputdiv {
  border: 1px solid rgb(235, 238, 240);
}
.brace {
  border-top-style: solid;
  background: rgb(235, 238, 240);
  height: 12px;
  border-top-color: rgb(235, 238, 240);
}

.tweet {
  display: block;
  border: 1px solid rgb(235, 238, 240);
}
.tweetbtn {
  margin-left: 100px;
}
.abouttweetbtn {
  font-size: 15px;
  margin-top: 8px;
}
.form-control {
  border-radius: 30px;
}
.form-inline {
  display: flex;
}
.news {
  font-size: 13px;
}
.daily-news {
  display: flex;
  background: rgb(235, 238, 240);
  border: 1px solid rgb(212, 215, 218);
  line-height: 2;
}
.tweetmore {
  margin-left: auto;
}
